################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WClocks/obj
/WClocks/bin
/ColorPickerLib/obj/Release
/ColorPickerLib/bin/Release
/packages
/WClocksCore/bin
/WClocksCore/obj
/Xceed.Wpf.Toolkit
